extends layout

block content
    each item in menu.dessert
        div(class="menu_item")
            
            ul                
                li  #{item.name}
                img(src=item.image)            
                li #{item.description}
        br
        br