extends layout

block content
  h1 Directions
  iframe(width="450", height="350", frameborder="0", style="border:0", src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJ4d6-CDaGUocR1pyj-jDjTZg&destination=place_id:ChIJw8WK8Fn0UocRs0LgmNVNlkE&key=AIzaSyAX8SUQl8YSOOUILI7EXbhxi2s_mct2hkE", allowfullscreen="")