doctype html
html
  head
    title #{title}
    header
      nav
       ul
          li
            a(href="index") Home
          li
            a(href="menu") Menu
          li
           a(href="directions") Directions
    link(href='../css/style.css', rel='stylesheet')      
  body        
   
    block content
    footer Potato&copy; 2017
    