doctype html
html
  head
    title #{title}
    nav
      ul
        li
          a(src="/") Home
        li
          a(src="/menu") Menu
        li
          a(src="directions") Directions
  body
    header
      h1 #{title}
    block content
    footer
    