doctype html
html
  head
    title #{title}
    header
      nav
       ul
          li
            a(href="index") Home
          li
            a(href="menu") Menu
          li
           a(href="directions") Directions
    link(href='../css/style.css', rel='stylesheet')      
  body        
    h1 #{title}
    block content
    footer
    