doctype html
html
  head
    title #{title}
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="menu") Menu
        li
          a(href="directions") Directions
  body
    header
      h1 #{title}
    block content
    footer
    