extends layout

block content
  h1 Menu
  p Choose Your Food!
  
    ul
      nav  
        a(href="burgers") Burgers
        br
        a(href="sides") Sides
        br
        a(href="desserts") Desserts