html {
    
     background:#f2b705;
     color: #f2f2f2;
    font-family: 'Pangolin', cursive;
 }
 
 body {  
     width: 80%;
     background: #d96907;
     color: black;
     padding: 50px 0px 150px 0px;
     margin: 25px auto;   
     text-align: center;
 }
 
 img {
    transition: width 2s linear 1s;
    margin-top: 30px;
    border-style: solid;
    border-color: #000;
 }

 
 img:hover {
     width : auto;
     height: 350px;
     border-style: solid; 
     border-color: #bf0f0f;
     border-width: 6px;
 }

div{
   
    transition: all 0.3 ease;
 }

 .menu_item{
     opacity:.5;
 }
.menu_item:hover{
     opacity:1;
     transform: scale(1.1);
 }
 
 
 header {
     background:#a60a0a ;
     color: #fff;
     height: 50px;
     width: auto;
     text-align: center;
     padding: 5px;
     color: black;
     font-family: 'Pacifico', cursive;
     
 }
 
h1 {
        
         align-self: center;
         text-align: center;
         color: black;
         font-family: 'Pacifico', cursive;
 
}
 

 images{ 
        
      align-self: center;
      padding: 2px;
 }
 nav li {
     
     display: inline-block;    
     width: 80px;
     margin-bottom: 5px;
     margin-right: 40px;
     padding: 5px;
     text-align: center;
 }
 
 ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     position: relative;
    
 }
 
 li {
     border-right: 1px #D40015;
     margin: auto;
 }
 
 li a {
     float: left;
     display: block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     
 }
 
 a:link{
     color: black;
 }
 a:visited{
     color:black
 }
 
 nav :hover {
     color: #D40015;
 }
 footer {
         margin: 50px, 0px, 50px, 0px;
          background:#a60a0a ;
         text-align: center;
 }
 